pipeline/PBI_passDescription.json
{
	"name": "PBI_passDescription",
	"properties": {
		"activities": [
			{
				"name": "passDescription",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ADLv2toSQLSERVER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[passDescription]",
					"storedProcedureParameters": {
						"DATABASE": {
							"value": {
								"value": "@pipeline().parameters.DATABASE",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "houston_framework_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ADLv2toSQLSERVER",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gary.cui@neudesic.com/DEMOs/PandasProfiling/profilingTableCreation"
				},
				"linkedServiceName": {
					"referenceName": "houston_framework_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "passDistinctAll",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "passDescription",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[countDistinctAll]",
					"storedProcedureParameters": {
						"SCHEMA": {
							"value": {
								"value": "@pipeline().parameters.SCHEMA",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "houston_framework_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "countDistinctIndividual",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "passDistinctAll",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[countDistinctIndividual]",
					"storedProcedureParameters": {
						"SCHEMA": {
							"value": {
								"value": "@pipeline().parameters.SCHEMA",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "houston_framework_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get NewFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Blob_profiling",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@{getPastTime(1,'Minute')}",
							"type": "Expression"
						}
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachNewBlobFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get NewFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get NewFiles').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable tableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableNames",
								"value": {
									"value": "@string(item().name.replace('.csv',''))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable Table Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachNewBlobFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@variables('TableNames')[0]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DATABASE": {
				"type": "string",
				"defaultValue": "retail"
			},
			"SCHEMA": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"TABLE": {
				"type": "string",
				"defaultValue": "city_pricea"
			}
		},
		"variables": {
			"TableNames": {
				"type": "Array"
			},
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}