houston-framework-df/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "houston-framework-df"
		},
		"SourceDataset_JSON_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"SourceDataset_JSON_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "json"
		},
		"profiling_Blob_Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/81822429-5727-4170-bd34-6a1e0e8a9957/resourceGroups/neu_hou_data_framework/providers/Microsoft.Storage/storageAccounts/houstonframeworksa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataSource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "GCUI1_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AttributeKey",
						"type": "Int32"
					},
					{
						"name": "AttributeName",
						"type": "String"
					},
					{
						"name": "AttributeDescription",
						"type": "String"
					},
					{
						"name": "EntityKey",
						"type": "Int32"
					},
					{
						"name": "EntityName",
						"type": "String"
					},
					{
						"name": "ModelName",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localTestFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GCUI01_Retail_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GCUI1_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SalesOrderLineNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OrderDate",
						"type": "date"
					},
					{
						"name": "StoreID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SalesQuantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "SalesAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Sales]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPre_PandasProfiling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localTestFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "data/pandasprofiling"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SK_ID_CURR",
						"type": "String"
					},
					{
						"name": "NAME_CONTRACT_TYPE",
						"type": "String"
					},
					{
						"name": "CODE_GENDER",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_CAR",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_REALTY",
						"type": "String"
					},
					{
						"name": "CNT_CHILDREN",
						"type": "String"
					},
					{
						"name": "AMT_INCOME_TOTAL",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT",
						"type": "String"
					},
					{
						"name": "AMT_ANNUITY",
						"type": "String"
					},
					{
						"name": "AMT_GOODS_PRICE",
						"type": "String"
					},
					{
						"name": "NAME_TYPE_SUITE",
						"type": "String"
					},
					{
						"name": "NAME_INCOME_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_EDUCATION_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_FAMILY_STATUS",
						"type": "String"
					},
					{
						"name": "NAME_HOUSING_TYPE",
						"type": "String"
					},
					{
						"name": "REGION_POPULATION_RELATIVE",
						"type": "String"
					},
					{
						"name": "DAYS_BIRTH",
						"type": "String"
					},
					{
						"name": "DAYS_EMPLOYED",
						"type": "String"
					},
					{
						"name": "DAYS_REGISTRATION",
						"type": "String"
					},
					{
						"name": "DAYS_ID_PUBLISH",
						"type": "String"
					},
					{
						"name": "OWN_CAR_AGE",
						"type": "String"
					},
					{
						"name": "FLAG_MOBIL",
						"type": "String"
					},
					{
						"name": "FLAG_EMP_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_WORK_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_CONT_MOBILE",
						"type": "String"
					},
					{
						"name": "FLAG_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_EMAIL",
						"type": "String"
					},
					{
						"name": "OCCUPATION_TYPE",
						"type": "String"
					},
					{
						"name": "CNT_FAM_MEMBERS",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT_W_CITY",
						"type": "String"
					},
					{
						"name": "WEEKDAY_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "HOUR_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_LIVE_REGION",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "LIVE_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_LIVE_CITY",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "LIVE_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_TYPE",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_1",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_2",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_3",
						"type": "String"
					},
					{
						"name": "APARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_AVG",
						"type": "String"
					},
					{
						"name": "COMMONAREA_AVG",
						"type": "String"
					},
					{
						"name": "ELEVATORS_AVG",
						"type": "String"
					},
					{
						"name": "ENTRANCES_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_AVG",
						"type": "String"
					},
					{
						"name": "LANDAREA_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MODE",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MODE",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MODE",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MODE",
						"type": "String"
					},
					{
						"name": "LANDAREA_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MEDI",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MEDI",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MEDI",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MEDI",
						"type": "String"
					},
					{
						"name": "LANDAREA_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "FONDKAPREMONT_MODE",
						"type": "String"
					},
					{
						"name": "HOUSETYPE_MODE",
						"type": "String"
					},
					{
						"name": "TOTALAREA_MODE",
						"type": "String"
					},
					{
						"name": "WALLSMATERIAL_MODE",
						"type": "String"
					},
					{
						"name": "EMERGENCYSTATE_MODE",
						"type": "String"
					},
					{
						"name": "OBS_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "OBS_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DAYS_LAST_PHONE_CHANGE",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_2",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_3",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_4",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_5",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_6",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_7",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_8",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_9",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_10",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_11",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_12",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_13",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_14",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_15",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_16",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_17",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_18",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_19",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_20",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_21",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_HOUR",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_DAY",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_WEEK",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_MON",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_QRT",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_YEAR",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localTestFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"fileName": "[parameters('SourceDataset_JSON_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_JSON_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_qzm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GCUI1_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesOrderNumber",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "SalesOrderLineNumber",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "OrderDate",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "StoreID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "SalesQuantity",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "SalesAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ve9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GCUI1_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SalesOrderNumber",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "SalesOrderLineNumber",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "OrderDate",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "StoreID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "SalesQuantity",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "SalesAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Sales]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_we5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GCUI1_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sales"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/profiling_Blob_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "When a new csv file is put into the profiling blob, the pipeline gets triggered and run.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PBI_passDescription",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/houston-framework/blobs/profiling/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('profiling_Blob_Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyData_from_RetailOnPre_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData-from-OnPreDB-to-ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[CopyTestSrcStoredProcedureWithParameters]"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "GCUI01_Retail_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Retail_sales",
								"type": "DatasetReference",
								"parameters": {
									"fileName": "result.json"
								}
							}
						]
					},
					{
						"name": "CopyData-from-OnPreJSON-to-ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Sales]"
							},
							{
								"name": "Destination",
								"value": "@{'framework'}/Retail_sales"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyData-from-OnPreCSV-to-ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Sales]"
							},
							{
								"name": "Destination",
								"value": "@{'framework'}/Retail_sales"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "data-ETL",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CopyData-from-OnPreDB-to-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyData-from-OnPreJSON-to-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyData-from-OnPreCSV-to-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gary.cui@neudesic.com/main_ETL"
						},
						"linkedServiceName": {
							"referenceName": "houston_framework_Databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "data-Analytics",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "data-ETL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gary.cui@neudesic.com/Pop vs. Price SQL"
						},
						"linkedServiceName": {
							"referenceName": "houston_framework_Databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GCUI01_Retail_sales')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Framework_Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData-from-OnPreCSV-to-ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Sales]"
							},
							{
								"name": "Destination",
								"value": "@{'framework'}/Retail_sales"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "data-ETL",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CopyData-from-OnPreCSV-to-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gary.cui@neudesic.com/main_ETL"
						},
						"linkedServiceName": {
							"referenceName": "houston_framework_Databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "data-Analytics",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "data-ETL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gary.cui@neudesic.com/main_Analytics"
						},
						"linkedServiceName": {
							"referenceName": "houston_framework_Databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/run_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily schedule to migrate, etl, and analyze the data from on Premise to the cloud",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyData_from_RetailOnPre_to_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Framework_Demo",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-01-10T19:15:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyData_from_RetailOnPre_to_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/Framework_Demo')]"
			]
		}
	]
}